<section>
    <div class="container mt-3 p-3">
        <div class="row">
            {{#each products.products}}
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;height: 28rem;">
                    <img src="/product_images/{{this.product._id}}.png" class="card-img-top" alt="..." style="width:13rem;height:16rem;p-3;max-width: 100%;
  height: 100%;display: block;
  margin-left: auto;
  margin-right: auto;margin-top: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.Name}}</h5>
                        <h7 class="card-title">Price:Rs {{this.product.Price}}</h7>
                        <p class="card-text">{{this.product.Description}}</p> 

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <a class="btn btn-primary" href="/admin/change_ship/{{products._id}}" role="button">Ship products</a>
    </div>
</section>