<section>
    <div class="container">
        <div class="text-left ml-4">
                              {{!-- {{when class is row button takes full width }} --}}
            <a href="/admin/add_products" class="btn btn-success float-start me-5 mt-3" >Add products</a>
        </div>  
        <table class="table mt-5" id="productsTable">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th>Image</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Category}}</td>              {{!-- {{this.Name is case sensitive }} --}}
                    <td>{{this.Description}}</td>
                    <td><img style="width: 50px;height:50px" src="/product_images/{{this._id}}.png" alt=""></td>  {{!-- {{image display,id comes along with products}} --}}
                    <td>
                        <a href="/admin/edit_product/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete_product?id={{this._id}}&name=hisham" class="btn btn-danger" onclick="return confirm('do you want to delete{{this.Name}}')">Delete</a>      {{!-- {{passing id & anything }} --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>